<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./assets/images/banner.webp);">
  <!-- Rounded switch -->
  <!-- <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label> -->
</div>
<div class="avatar-banner d-flex justify-content-around">
  <%= image_tag "profile-fire.webp", class: "avatar-large banner-avatar", alt: "avatar-large" %>
</div>
