<div class="container contacts d-flex justify-content-around align-items-center">
  <% link_to "mailto:dragon.aka.scooter@gmail.com" do  %>
  <i class="far fa-envelope" data-aos="zoom-in"></i>
  <% end %>
  <% link_to "https://www.linkedin.com/in/ryuichiro-suzuki-scooter/" do %>
  <i class="fab fa-linkedin" data-aos="zoom-in" data-aos-delay="100"></i>
  <% end %>
  <% link_to "https://github.com/SuzukiRyuichiro" do %>
  <i class="fab fa-github-square" data-aos="zoom-in" data-aos-delay="200"></i>
  <% end %>
</div>
