<div class="container contacts d-flex justify-content-around align-items-center">
  <% link_to "mailto:dragon.aka.scooter@gmail.com" do  %>
  <i class="far fa-envelope"></i>
  <% end %>
  <% link_to "https://www.linkedin.com/in/ryuichiro-suzuki-scooter/" do %>
  <i class="fab fa-linkedin"></i>
  <% end %>
  <% link_to "https://github.com/SuzukiRyuichiro" do %>
  <i class="fab fa-github-square"></i>
  <% end %>
</div>
