<div class="container name_and_menu mt-3">
  <div class="row justify-content-center">
    <h1 class="text-center">Ryuichiro Suzuki (Scooter)</h1>
  </div>
  <div class="row menu-bar justify-content-between">
    <%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-info-circle'></i>", text: "Info" }%>
    <%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-code'></i>", text: "Projects" }%>
    <!-- <#%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-camera'></i>", text: "Hobbies" }%> -->
    <%= partial 'components/menu_item' , locals: { icon: "<i class='far fa-address-book'></i>", text: "Contact" }%>
  </div>
</div>
