<div class="container name_and_menu">
  <div class="row justify-content-center">
    <h1 class="text-center" data-translate-target="name">Ryuichiro Suzuki</h1>
  </div>
  <small class="text-muted" data-translate-target="subtitle">or many people call me Scooter</small>
  <div class="d-flex menu-bar justify-content-around">
    <%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-info-circle'></i>", text: "Info" }%>
    <%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-code'></i>", text: "Projects" }%>
    <!-- <#%= partial 'components/menu_item' , locals: { icon: "<i class='fas fa-rss'></i>", text: "Posts" }%> -->
    <%= partial 'components/menu_item' , locals: { icon: "<i class='far fa-address-book'></i>", text: "Contact" }%>
  </div>
</div>
