<div class="card aos-init aos-animate" data-aos="flip-right" data-aos-delay="<%= delay %>">
  <div class="img-cover"><%= image_tag "#{project}/1.webp", alt: "screenshot" %>
  </div>
  <div class="desc">
    <h3 class="app-name">
      <%= project_name %>
    </h3>
    <div class="text-muted">
    <% stack.each do |skill|%>
      <% case skill %>
      <% when 'pg' %>
      <i class="devicon-postgresql-plain"></i>
      <% when 'js' %>
      <i class="devicon-javascript-plain"></i>
      <% when 'react' %>
      <i class="devicon-react-original"></i>
      <% when 'redux' %>
      <i class="devicon-redux-original"></i>
      <% when 'rails' %>
      <i class="devicon-rails-plain"></i>
      <% when 'html' %>
      <i class="devicon-html5-plain"></i>
      <% when 'sass' %>
      <i class="devicon-sass-original"></i>
      <% when 'ruby' %>
      <i class="devicon-ruby-plain"></i>
      <% end %>
    <% end %>
  </div>
    <div class="buttons d-flex justify-content-around">
      <% link_to app do%>
      <div class="my-2">
        <i class="fas fa-desktop"></i> App
      </div>
      <% end %>
      <% link_to github do%>
      <div class="my-2">
        <i class="fab fa-github"></i> Code
      </div>
      <% end %>
    </div>
    <% link_to "projects/#{project}" do %>
    <div class="read-more">
        Read more <i class="fas fa-arrow-right"></i>
    </div>
    <% end %>
  </div>
</div>
