<div class="mid">
  <label class="rocker rocker-small">
    <input type="checkbox">
    <span class="switch-left" data-action="click->translate#test">🇯🇵</span>
    <span class="switch-right" data-action="click->translate#test">🇬🇧</span>
  </label>
</div>
