<div class="mid">
  <label class="rocker rocker-small" data-action="click->translate#test">
    <input type="checkbox">
    <span class="switch-left">🇯🇵</span>
    <span class="switch-right">🇬🇧</span>
  </label>
</div>
