<div class="mid sticky-top">
  <label class="rocker rocker-small">
    <input type="checkbox" id="translate" data-translate-target="checkbox" data-action="click->translate#toggle">
    <span class="switch-left">🇯🇵</span>
    <span class="switch-right">🇬🇧</span>
  </label>
</div>
