// for phone sized pages, disable snaps
@media (min-width: 576px) {
  html {
    scroll-snap-type: y mandatory;
  }

  .scroll-page {
    scroll-snap-align: center;
  }
}

@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}

// below here is universal
html {
  scroll-behavior: smooth;
}

.scroll-page {
    height: 100vh;
}
