// when width is smaller than a phone size (or for phones)
@media only screen and (max-width: 575.98px) {
  #Info {
    .info-page {
      flex-direction: column;
    }
    .about-me-pic {
      width: 60%;
    }
    .skill-icon {
      width: 30px;
    }
    h1 {
      font-size: 25px;
    }
  }

  #Projects {
    .nav-item {
      a {
        font-size: 10px;
        margin: 8px 2px 8px 2px;
      }

      i {
      display: none;
      }
    }
    .project-explanation {
      margin-top: 10%;
      p {
        font-size: 12px;
      }
    }
  }
}

// this will be applied to something wider than phones
@media only screen and  (min-width: 576px) {
  #Info {
    h1 {
      font-size: 25px;
    }

    .skill-icon {
      width: 50px;
    }

    .about-me-pic {
      height: 400px;
    }
  }

  #Projects {
    .nav-item {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }

  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #Info {
    h1 {
      font-size: 40px;
    }
  }

  #Projects {
    p {
      font-size: 16px;
    }
  }
}


// below here is universal
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.scroll-page {
  height: 100vh;
  scroll-snap-align: center;
}

.skills {
  .skill-icon {
    border-radius: 50%;
  }
}

.about-me-pic {
  border: solid 3px white;
}


