@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  // transition: all .3s;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:rgba(255, 99, 71, .3);
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(255, 99, 71, .9);
  border-radius:2px;
}

.card{
  margin : auto;
  overflow : hidden;
  border-radius : 20px;
  background : white;
  transition: all .2s;
  box-shadow:5px 5px 15px rgba(0,0,0, .3);
}

.card:hover {
  box-shadow:5px 5px 25px rgba(0,0,0, .5);
  transform: translate(-5px, -5px);
}

.card:hover .icon .fas{
  animation : iconjln 1s;
}

.img-cover{
  position: relative;
}

.card img{
  width: 100%;
  height:200px;
  object-fit:cover;
}

.icon{
  position:absolute;
  top:0;
  padding : 25px;
  right:0;
  border-bottom-left-radius:20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.desc{
  padding : 1.5em ;
  font-family: 'Poppins', sans-serif;
}
.desc h1{
  display:inline;
}
.tdesc{
  margin-bottom:40px;
  width:100%;
  height:50px;
  overflow: auto;
}
.desc a{
  text-decoration: none;
}

.desc .read-more{
  background-color: dodgerblue;
  padding: 15px 25px;
  color:white;
  border-radius: 15px;
  display:block;
  text-align: center;
  transition: all .2s;
}

.desc .read-more:hover{
  background-color: SteelBlue;
}

.desc .read-more:hover .fas{
  animation : iconjln 1s;
}

@keyframes iconjln{
  0%, 100% {
    opacity : 1;
    transform: translateX(0%);
  }
  50%{
    opacity:0;
    transform: translateX(100%);
  }
  70%{
    opacity:0;
    transform:translateX(-100%);
  }
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 32px;
  align-items: start;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .projects-cards {
    .img-cover {
      display: none;
    }
    h3 {
      font-size: 12px;
    }
    .desc {
      font-size: 9px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .projects-cards {
    h3 {
      font-size: 13px;
    }
    .desc {
      font-size: 10px;
    }
    .img-cover {
      display: initial;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .projects-cards {
    h3 {
      font-size: 18px;
    }
    .desc {
      font-size: 15px;
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .projects-cards {
    h3 {
      font-size: 25px;
    }
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .projects-cards {
    h3 {
      font-size: 30px;
    }
    grid-template-columns: 1fr 1fr 1fr;
  }
}

