@media (min-width: 576px) {
  a {
    font-size: 15px;
    min-width: 30%;
  }
}

@media (min-width: 768px) {
  a {
    font-size: 30px;
    min-width: 140px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}


.menu-bar {
  margin-top: 70px;
  width: 80%;
  overflow: hidden;

  a {
    color: gray;
    transition: ease-in-out .4s;
  }

  a:hover {
    color: #101010;
    text-decoration: none;
  }
}
