@media only screen and  (min-width: 576px) {
  .menu-bar {
    a {
      font-size: 15px;
    }
  }
}

@media only screen and  (min-width: 768px) {
  .menu-bar {
    a {
      font-size: 30px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media only screen and  (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media only screen and  (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media only screen and  (min-width: 1400px) {

}


.menu-bar {
  margin-top: 70px;
  width: 80%;

  a {
    color: gray;
    transition: ease-in-out .4s;
    min-width: 33%;
  }

  a:hover {
    color: #101010;
    text-decoration: none;
  }
}
